.sideimage {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0em 1em;
  }
  

  @media screen and (max-width: 768px) {
    .sideimage {
        display: none;
      }
    
  }
 